
:root {
  --black-choise:#000814;
  --white-choise:#f7fff7;
 --fisrt-color:#14213d;
 --choise-color:#ffffff;
  --primary-color:#264653;
  --secondary-color:#03045e;
  --third-color:#d62828;
  --fourth-color:#1b4332;
  --fifty-color:#dddf00;
  --clr-black: #222;
   --fade-time: 0.5s;
  --ff-primary: "font-family: 'Lato', sans-serif";
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background:var(--choise-color);
  color: var(--black-choise);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* navbar */
 .navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--third-color);
  box-shadow: var(--dark-shadow);
  z-index: 10;
}
.nav-icons{
  display: none;
}
.nav-center{
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-header span{
  color: var(--white-choise);
  font-size: 1.5rem;
  text-transform: uppercase;
}
.nav-logo{
  max-width: 6rem;
}
.nav-toggle{
  background: transparent;
  border: none;
  font-size: 2rem;
  color: var(--black-choise);
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover{
  transform: rotate(90deg);
  color: var(--white-choise);
}
.nav-link{
  display: block;
  padding: .75rem 2rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  cursor: pointer;
  color: var(--white-choise);
  font-weight: 400;
}
.nav-link:hover{
  color:var(--black-choise) ;
  background: var(--white-choise);
}
.nav-links{
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links{
  height: 300px;
}
@media (min-width:992px) {
  .nav-toggle{
    display: none;
  }
  .nav-center{
    display: flex;
    justify-content: space-between;
  }
  .nav-links{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .nav-icons{
    display: flex;
    align-items: center;

  }
  .nav-icon{
    margin-right: 0.75rem;
    color: var(--black-choise);
    font-size: 1.5rem;
    transition: var(--transition);
  }
  .nav-icon:hover{
    color: var(--choise-color);
  }
  .nav-header{
    padding: 0;
  }
  
    
  .nav-link{
    padding: 0 ;
    margin-left: 0.75rem;
  }
  .nav-link:hover{
    padding: 0;
    color: var(--black-choise);
    background: transparent;
  }
  .nav-icons a{
    margin-left: 1rem;
  }
} 
 

/* hero */
 .hero{
   min-height: calc(100vh - 3rem);
  background: url(/image/senegal-8.jpg)center/cover no-repeat;
  
  background-attachment: fixed;
  display: grid;
  place-items: center;
  text-align: center;
}
.hero-title{
  color: var(--third-color);
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
}
.hero-text{
 width: 30rem;
  color: var(--black-choise);
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: var(--spacing);
}
.btn-visitor{
  border-radius: 10px;
  padding: 0.5rem;
  background: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.btn-visitor:hover{
  background: var(--primary-color);
}
.btn-tours {
 display: block;
 border-radius: 5px;
  padding: 0.55rem;
  
  font-size: 1.2rem;
  text-transform:capitalize;
  letter-spacing: var(--spacing);
  color: var(--white-choise);
  transition: var(--transition);
}
.btn-tours:hover{
  background: var(--white-choise);
  color: var(--black-choise);
  
}

@media (min-width:992px) {
  .hero-text{
    max-width: 40rem;
    font-weight: 600;
  }
  
}
/* about */
.about{
  text-align: center;
}
.about-title{
  text-align: center;
  color: var(--black-choise);
}
.img-about img{
  width: 400px;
  object-fit: cover;
}
.deatils-senegal{
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
}
@media (min-width:992px) {
  .about-senegal{
    display: flex;
    gap: 2rem;
  }
  .img-about img{
    width: 500px;
    
  }
  .img-about{
display: flex;
    justify-content: center;
    align-items: center;
  }
  .deatils-senegal{
    font-style: 1rem;
  }
  
}
/* bestplaces */
.best-places{
  text-align: center;
  background: var(--primary-color);
}
.best-title{
  text-align: center;
  color: var(--black-choise);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
}
.container-best img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: var(--transition);
  margin: 1rem;
  cursor: pointer;
}
.container-best img:hover{
  transform: scale(1.1);
}
@media (min-width:768px) {
  .container-best{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
}
@media (min-width:992px) {
  .container-best{
    
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
  }
  
}
/* welcome */
.welcome{
  background: url(/image/backgoud3.webp);
  
  text-align: center;
}
.welcome-title{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--fourth-color);
}
.para-welcome p{
  font-size: 1.2rem;
  font-weight: 300;
}
.para-welcome img{
  width: 400px;
  object-fit: cover;
}
.carte-senegal{
  margin-top: 1rem;
}
.para-welcome-2{
  font-size: 1.2rem;
  color: var(--choise-color);
  font-weight: 500;
  letter-spacing: var(--spacing);
}
.img-cart img{
  width: 300px;
  height: 200px;
  border-radius: 100%;
  opacity: 0.5;
  transition: var(--transition);
  cursor: pointer;
  margin: 1rem;
}
.img-cart img:hover{
  opacity: 1;
}
.img-big-carte{
  width: 400px;
}
@media (min-width:768px) {
  .img-cart {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .img-big-carte {
    width: 900px;
    object-fit: cover;
    border-radius: 20px;
    transition: var(--transition);
    cursor: pointer;
  }
  .img-big-carte:hover{
    transform: scale(1.1);
    padding: -1rem;
  }
  
}

.hired{
  margin-top: 1rem;
  text-align: center;
  color: var(--choise-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}
.hired-details{
  position: relative;
}
.hired-details img{
 display: block;
  position: relative;
  width: 300px;
  border-radius: 5px;
  
}
.hired-details h2{
  color: var(--fourth-color);
}
.hired-details span{
  color: var(--choise-color);
  font-size: 1.5rem;
}

  
@media (min-width:992px) {
  .hired-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bg-img{
  margin-top: 2rem;
    position: relative;
  }
  .bg-img::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 3px dashed var(--fourth-color);
    left: -2rem;
    top: -2rem;
  }
}

.center-question{
  margin-top: 1rem
  ;
}
.question{
  
  padding: 2rem;
  border-radius: 5px;
}
.question-title{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--white-choise);
}
.question-btn{
cursor: pointer;
transition: var(--transition);
  background: transparent;
  border-color: transparent;
  font-size: 2rem;
  color: var(--white-choise);
}
.minus-icon{
  color: var(--clr-black);
  display: none;
}
.question-text{
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--choise-color);
  display: none;
}
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}
/* footer */
.footer{
  background: var(--black-choise);
  color: var(--choise-color);
  text-align: center;
}
.contact-1 span{
  font-size: 1.5rem;
  text-transform: capitalize;
}
.contact-2 span{
  color: var(--primary-color);
  font-size: 1.5rem;
}
.footer-email{
  font-size: 1.2rem;
}
.footer-container{
  cursor: pointer;
  transition: var(--transition);
}
.footer-container:hover{
  color: var(--third-color);
}
@media (min-width:992px) {
  .footer-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  
}